/* ----------SHARED--------- */
body {
  margin: 0;
  padding: 0;
}

/* Margin */
.mt-1 {
  margin-top: 5px;
}
.mr-1 {
  margin-right: 5px;
}
.mb-1 {
  margin-bottom: 5px;
}
.ml-1 {
  margin-left: 5px;
}
.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mx-1 {
  margin-right: 5px;
  margin-left: 5px;
}

.mt-2 {
  margin-top: 10px;
}
.mr-2 {
  margin-right: 10px;
}
.mb-2 {
  margin-bottom: 10px;
}
.ml-2 {
  margin-left: 10px;
}
.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mx-2 {
  margin-right: 10px;
  margin-left: 10px;
}

.mt-3 {
  margin-top: 15px;
}
.mr-3 {
  margin-right: 15px;
}
.mb-3 {
  margin-bottom: 15px;
}
.ml-3 {
  margin-left: 15px;
}
.my-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.mx-3 {
  margin-right: 15px;
  margin-left: 15px;
}

.mt-4 {
  margin-top: 20px;
}
.mr-4 {
  margin-right: 20px;
}
.mb-4 {
  margin-bottom: 20px;
}
.ml-4 {
  margin-left: 20px;
}
.my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mx-4 {
  margin-right: 20px;
  margin-left: 20px;
}

.mt-5 {
  margin-top: 70px;
}
.mr-5 {
  margin-right: 70px;
}
.mb-5 {
  margin-bottom: 70px;
}
.ml-5 {
  margin-left: 70px;
}
.my-5 {
  margin-top: 70px;
  margin-bottom: 70px;
}
.mx-5 {
  margin-right: 70px;
  margin-left: 70px;
}

/* Padding */
.pt-1 {
  padding-top: 5px;
}
.pr-1 {
  padding-right: 5px;
}
.pb-1 {
  padding-bottom: 5px;
}
.pl-1 {
  padding-left: 5px;
}
.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.px-1 {
  padding-right: 5px;
  padding-left: 5px;
}

.pt-2 {
  padding-top: 10px;
}
.pr-2 {
  padding-right: 10px;
}
.pb-2 {
  padding-bottom: 10px;
}
.pl-2 {
  padding-left: 10px;
}
.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.px-2 {
  padding-right: 10px;
  padding-left: 10px;
}

.pt-3 {
  padding-top: 15px;
}
.pr-3 {
  padding-right: 15px;
}
.pb-3 {
  padding-bottom: 15px;
}
.pl-3 {
  padding-left: 15px;
}
.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.px-3 {
  padding-right: 15px;
  padding-left: 15px;
}

.pt-4 {
  padding-top: 20px;
}
.pr-4 {
  padding-right: 20px;
}
.pb-4 {
  padding-bottom: 20px;
}
.pl-4 {
  padding-left: 20px;
}
.py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.px-4 {
  padding-right: 20px;
  padding-left: 20px;
}

.pt-5 {
  padding-top: 70px;
}
.pr-5 {
  padding-right: 70px;
}
.pb-5 {
  padding-bottom: 70px;
}
.pl-5 {
  padding-left: 70px;
}
.py-5 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.px-5 {
  padding-right: 70px;
  padding-left: 70px;
}

.custom-margin--35 {
  margin-left: -35px !important;
  margin-right: -35px !important;
}

.custom-button {
  height: 38px;
  border-radius: 6px;
  border: solid 1px #d9d9d9;
  background-color: #fff;

  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
}

.custom-button:hover {
  background-color: #57aeff;
  cursor: pointer;
  color: #fff;
}

/* HEADER */
.header-container {
  width: 100%;
  padding: 44px 0px 42px 0px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

.header-title {
  font-family: Baskerville;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #3b3b3b;
}

/* NEWS */

.news-button {
  min-width: 98px;
  height: 31px;
  padding: 3px 17px;
  border-radius: 2px;
  background-color: #fcfcfc;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #606060;
}

.news-button:hover {
  background-color: #57aeff;
  cursor: pointer;
  color: #fff;
}

.news-button-active {
  min-width: 98px;
  height: 31px;
  padding: 3px 17px;
  border-radius: 2px;
  background-color: #fcfcfc;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #1797ff;
}

.news-button-border {
  border: solid 1px #d6d6d6;
}
.news-button-border-left-active {
  border-top: solid 1px #1797ff;
  border-bottom: solid 1px #1797ff;
  border-left: solid 1px #1797ff;
  border-right: 0px;
}

.news-button-border-right-active {
  border-top: solid 1px #1797ff;
  border-bottom: solid 1px #1797ff;
  border-right: solid 1px #1797ff;
  border-left: 0px;
}

.news-no-item {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-no-item-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #606060;
}

/* News Card */

.news-item-container {
  max-width: 550px;
  min-width: 340px;
  min-height: 90px;
  height: auto;
  margin: 15px 20px;
  opacity: 0.8;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #fff;
}

.news-item-container:hover {
  opacity: 0.4;
  cursor: pointer;
}

.news-item-text-container {
  padding: 26px;
}

.news-item-time {
  font-family: Roboto;
  font-size: 11px;
  color: #767676;
  margin-left: 8px;
}

.news-item-title {
  font-family: Roboto;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #6b6b6b;
}

.news-item-favorite-container {
  width: 68px;
  min-width: 68px;
  /* opacity: 0.06; */
  border-radius: 0 6px 6px 0;
  border: solid 1px #f5f5f5;
  background-color: #f5f5f5;
}

.news-item-favorite-container:hover {
  border: solid 1px #606060;
  background-color: #606060;
  cursor: pointer;
}

/* Custom combobox */

.custom-select {
  max-width: 240px;
}

.custom-option {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #343434;
}

.custom-image {
  width: 24px;
  height: auto;
  margin-right: 13px;
}

/* Pagination */

.pagination-button {
  width: 32px;
  height: 32px;
  margin: 4px;
  border-radius: 6px;
  border: solid 1px #d9d9d9;
  background-color: #fff;

  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
}

.pagination-button.active {
  width: 32px;
  height: 32px;
  margin: 4px;
  border-radius: 6px;
  background-color: #1890ff;

  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.pagination-button:hover {
  background-color: #57aeff;
  cursor: pointer;
  color: #fff;
}

.pagination-margins {
  margin: 100px 0px;
}

.infinite-scroll-component {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
}
